html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
.container {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.innerContainer {
  display: flex;
  width: 100%;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}